 /*About us page start css create by Soniya Hoque*/
.navbar-brand {
	height: auto;
	padding: 11px 15px 11px 15px;
	margin-left: 0 !important;
}
header.default nav.navbar.bootsnav.navbar-fixed.more_menu{
    background-color: #757373;
}
.p0{
	padding: 0;
}
.owl-carousel.owl-loaded {
	display: inline-block;
}
.p-right-0{
	padding-right:0px; 
}
.owl-carousel .item {
    height: 10rem;
    background: #4DC7A0;
    padding: 1rem;
}
.visionary {
	padding-top: 220px;
	margin-bottom: 125px;
}
.visionary_title h2 {
	color: #000;
	font-size:37px;
	line-height: 100px;
	font-weight: bold;
	font-family: "Raleway SemiBold";
}
.visionary_title h2 span{
	color: #f79315;
}
.visionary_title h3,.do_content_title h3{
	font-size: 26px;
	font-style: italic;
	color: #000;
	font-weight: bold;
	font-family: "Raleway SemiBold";

}
.vertical_text {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
	display: block;
	transform-origin: left bottom 0;
	float: left;
	position: absolute;
	top: 190px;
	left: 30px;
}

.visionary_content {
	position: relative;
	margin-top: 45px;
}
.vertical_text p{
	font-weight: 700!important;
	color: #f79315 !important;
	font-size: 17px !important;
	font-family: "Raleway SemiBold";
}
.visionary_content p{
	font-size: 14px;
	color: #585858;
	line-height: 25px;
	margin-left: 70px;
	font-weight: 400;
	padding-right: 35px;
	font-family: "Raleway SemiBold";
}
.float-right {
	float: right;
	margin-top: 35px;
}
.we_do_title h2 {
	color: #f79315;
	margin-bottom: 125px;
	font-size:37px;
	font-weight: bold;
	font-family: "Raleway SemiBold";
}

.do_content_title h2 {
	color: #000;
	margin-bottom: 28px;
	font-size:37px;
	font-weight: bold;
	font-family: "Raleway SemiBold";
}
.do_content_title h3{
	margin-bottom: 28px;
	font-family: "Raleway SemiBold";
}
.do_content_title p {
    font-size: 14px;
    color: #585858;
    line-height: 25px;
    font-weight: 400;
    font-family: "Raleway SemiBold";
    text-align: justify;
}
.we-do-list {
	list-style: decimal;
	padding-left: 15px;
}
.single_do_list {
	margin-bottom: 80px;
}
.we_do_img.float-right {
	margin: 0;
}
.progress .progress-value {
	width: 85%;
	height: 85%;
	border-radius: 50%;
	border: 1px solid #ebebeb;
	font-size: 32px;
	line-height: 125px;
	text-align: center;
	position: absolute;
	top: 7.5%;
	left: 7.5%;
	font-family: "Raleway SemiBold";
}
.progress.yellow .progress-value {
	color: #000;
}
.progrees-ber-area {
	margin-top: 45px;
	margin-bottom: 115px;
}
.team_slider {
	margin-top: 150px;
	margin-left: 0px;
}
.single_slider_team {
  text-align: center;
}
.single_slider_team h3 {
  margin-top: 15px;
  color: #000;
  font-size: 18px;
  font-weight: 900;
  font-family: "Raleway SemiBold";
}
.single_slider_team p {
  font-size: 14px;
  font-weight: normal;
  font-family: "Raleway SemiBold";
}
.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #000;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity 200ms ease;
	border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #f79315;
}

.touch_content {
	padding: 125px 0;
	text-align: center;
}
.navbar-brand.scroll {
    padding-left: 15px;
    line-height: 33px;
}
.padding_left_40 {
	padding-left: 40px;
}
.padding_right_40{
	padding-right: 40px;
}

div.touch_content {
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    color: #ffffff;
}
.touch_content h2 {
	font-size: 36px;
	font-style: italic;
	font-weight: bolder;
	margin-bottom: 65px;
	font-family: "Raleway SemiBold";
}
a.touch-btn{
	border: 1px solid #fff;
	padding: 15px 35px;
	border-radius: 5px;
	transition: .3s;
	font-size: 24px;
	font-weight: 600;
	font-family: "Raleway SemiBold";
}
.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 90px;
}
a.touch-btn:hover{
	background-color: #fff;
	color: #000;
}
.area-parallax {
	background-image: url("../img/touch.jpg");
	height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.shadow-musk {
	background: rgba(28,30,24 , .9);
	padding-top: 117px;
	display: block;
	height: 100%;
}
.shadow-musk h4 {
	font-weight: 600;
	font-size: 36px;
	font-family: "Raleway SemiBold";
	font-weight: 900;
	margin: auto auto;
	text-align: center;
	font-style: italic;
	color: #fff;
}
.shadow-musk .contact-here {
	background: transparent none repeat scroll 0 0;
	border: 2px solid #fff;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: "Raleway SemiBold";
	font-size: 24px;
	font-weight: 600;
	margin: 50px auto auto;
	padding: 14px 0;
	text-align: center;
	width: 233px;
}
.creative-team {
	padding-bottom: 80px;
}









