.detail-post{
     margin-bottom: -6px;
     
    padding-top: 227px;
}
.detail-post h2{
    font-size: 28px;
    font-weight: 600;
    color: #191919;
     font-family: 'Roboto', sans-serif;
     margin-bottom: 68px;
} 
.detail-post p{
      font-family: "Raleway";
      font-size: 14px;
      color: #333333;
      font-weight:  normal;
      margin-bottom: 48px;
      max-width: 431px;
}
.other-pages-menu header.default nav.navbar.bootsnav.navbar-fixed {
    background: rgba(117,115,115 , .7);
}
.details img{
    margin-top: 5px;
    display: contents;
}
.client-info{
    overflow: hidden;
    margin-bottom: 56px;
}
.client-info span{
      border-bottom: 1px solid #cccccc;
    bottom: 0;
    color: #000000;
    display: block;
    float: left;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
    max-width: 500px;
    padding-bottom: 24px;
    padding-top: 20px;
  
    width: 100%;
}
.client-info span strong{
      font-weight:  600;
     font-size: 28px;
       width: 55%;
       float: left;
 font-family: "Raleway";
}
.client-info span em{
   font-style: normal;
    position: relative;
    top: 8px;
}
.area-parallax{
    
 
    /* The image used */
    background-image: url("../img/bg-parallax.png");
    /* Full height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shadow-musk{
     background: rgba(28,30,24 ,  .8);
     padding-top: 117px;
     display: block;
  height: 100%;
}
.shadow-musk h4{
     font-weight:  600;
     font-size: 36px;
      font-family: "Raleway";
      font-weight: 900;
      margin:    auto auto;
      text-align: center;
      
      font-style: italic;
     color: #fff;
}
.shadow-musk  .contact-here{
      background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: "Raleway";
    font-size: 24px;
    
    font-weight: 600;
     margin: 50px auto auto;
    padding: 14px 0;
    text-align: center;
    width: 233px;
}
.shadow-musk  .contact-here:hover{
    background: #666;
}

.back-top-visible i{
    color: #fff !important;
}
.footer-logo img{
     margin-top: -26px;
}
.details img{
    margin-bottom: 30px;
}





@media screen and (max-width: 767px) {
      .detail-post p{
           max-width: inherit;
        }
}

@media screen and (max-width: 980px) {
     .detail-post .no-padding{
        padding: 0 15px !important  ;
      
    
}
}
