
@media screen and (max-width: 1480px) {
     .slider-text-show p {
            font-size: 18px;
            padding: 0 200px;
        }
}
@media screen and (max-width: 767px) {
     .about-info{
        margin-top:30px;
     }
     .list{
        border-color: #e3e3e3 #e3e3e3 #e3e3e3 #e3e3e3;
     }
       .box-area .list:nth-child(6){
        border-bottom: 1px solid #e3e3e3 !important;
     }
     .blogs .posts-blog{
        margin: auto;
        max-width: 376px;
        
     }
     #footer .no-padding{
        padding-left:  15px !important;
         padding-right:  15px !important;
     }
     .links-footer{
        margin-top: 30px;
     }
     .col-md-4.col-sm-4.list:nth-child(3), .col-md-4.col-sm-4.list:nth-child(6){
        border-color: #e3e3e3 #e3e3e3 #e3e3e3 #e3e3e3 !important;
     }

}
@media screen and (max-width: 768px) {
     
}
@media screen and (max-width: 800px) {
     
     .blog-details h4 {
    font-size: 20px;
    line-height: 26px;
   
    }
     .blog-details a {
        font-size: 14px;
        line-height: 26px;
    }
}


@media screen and (max-width: 980px) {
     
}
@media screen and (max-width: 915px) {
    .pricing .pricing-box:nth-child(2){
        top: 0px;
    }
    .pricing-box {
        width: 315px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 1025px) {
     .pricing-box {
       width: 265px;
    }
        
}
@media screen and (max-width: 1050px) {
    .pricing-box {
       width: 265px;
    }
    .active-revslide .scroll {
        display: none;
    }
    .slider-text-show{
        top: 40%;
    }
    .slider-text-show p {
            font-size: 18px;
            padding: 0 200px;
        }
        
}
@media screen and (max-width: 1139px) {
    .team-row .team-wrap:first-child {
        margin-left: 40px;
    }
    .team-row .team-wrap:last-child {
        margin-right:  40px;
    }
}

/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        #navbar-menu {
            margin-right: 20px;
        }
        .navbar-brand {
            margin-left: 20px !important;
        }
        .service-img h2 {
            font-size: 40px;
        }
        .service-img-brand h2 {
            position: absolute;
            top: 31%;
            left: 5%;
            font-size: 33px;
            color: #f89923;
            text-transform: uppercase;
        }
        .service-img-eco h2 {
            position: absolute;
            top: 31%;
            left: 9%;
            font-size: 38px;
            color: #f89923;
            text-transform: uppercase;
        }
        .slider-text-show p {
            font-size: 18px;
            padding: 0 200px;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .visionary_title h3, .do_content_title h3 {
            font-size: 20px;
        }
        .visionary_title h2 {
            color: #000;
            line-height: 60px;
            font-weight: bold;
        }
        .visionary-img.float-right {
            margin-top: 20px;
            float: none;
        }
        .visionary-img img {
            margin: 0 auto;
            padding-bottom: 50px;
        }
        .visionary_title {
            text-align: center;
        }
        .we_do_img img {
            margin: 0 auto;
            padding-bottom: 50px;
        }
        .visionary {
            padding-top: 120px;
            margin-bottom: 80px;
        }
        .we_do_img.float-right {
            margin: 0;
            float: none;
        }
        h2 {
            font-size: 30px;
        }
        .headding_title {
            font-size: 30px;
            text-align: center;
        }
        .visionary_content {
            margin-top: 30px;
        }
        .visionary_content p {
            margin-left: 40px;
            padding-right: 30px;
        }
        .we_do_title h2 {
            color: #f79315;
            margin-bottom: 70px;
        }
        .we-do-content {
            padding-left: 20px;
        }
        .do_content_title h2 {
            margin-bottom: 17px;
        }
        .do_content_title h3 {
            margin-bottom: 18px;
        }
        .progrees-ber-area {
            margin-top: 30px;
            margin-bottom: 50px;
        }
        .team_slider {
            margin-top: 70px;
        }
        .services_area_1 {
            padding-top: 110px;
        }
        .service-img img {
            margin: 0 auto;
            padding-bottom: 60px;
        }
        .service-content h2 {
            margin-bottom: 30px;
            text-align: center;
        }
        .service-content h5 {
            margin-bottom: 30px;
        }
        .service-img h2 {
            top: 29%;
            left: 25%;
            font-size: 45px;
        }
        .service-content p {
            margin-bottom: 50px;
        }
        .service-img-brand img {
            margin: 0 auto;
        }
        .service-img-brand h2 {
            left: 17%;
            font-size: 44px;
        }
        .service-img-eco h2 {
            font-size: 43px;
        }
        .service-img-eco img {
            margin: 0 auto;
        }
        .service-img-eco h2 {
            left: 18%;
            font-size: 45px;
        }
           .slider-text-show p {
            font-size: 18px;
            padding: 0 100px;
        }
        .p0{
            padding: 0 25px;
        }
        .headding_title {
            margin-bottom: 40px;
        }
        .services_area_2 {
            padding-top: 80px;
        }
        .service_area_3 {
            padding-top: 80px;
        }
        .section_area_4 {
            padding-top: 80px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .visionary_title {
            text-align: center;
        }
        .visionary-img img {
            margin: 0 auto;
        }
        .visionary-img.float-right {
            float: none;
        }
        .we_do_title {
            text-align: center;
        }
        .we_do_img img {
            margin: 0 auto;
            margin-bottom: 50px;
        }

        .we_do_img.float-right {
            margin: 0;
            float: none;
            margin-top: 50px;
        }
        #footer {
            background: #f2f2f2;
            padding-top: 80px;
            margin-top: 0;
            padding-bottom: 92px;
            text-align: center;
        }
        #footer p {
            max-width: 100%;
            text-align: none;
        }
        .links-footer h5 {
            float: none;
            padding-bottom: 10px;
            width: 130px;
            margin: 0 auto;
        }
        .address-info {
            text-align: center;
        }
        #maxo-main h1 {
            font-family: "Raleway SemiBold";
            font-size: 45px !important;
            font-weight: normal;
            text-transform: uppercase;
            margin-top: 32px !important;
        }
        .slider-text-show p {
            font-size: 18px;
            padding: 0 60px;
        }
        .col-md-6.col-sm-6.list1 {
            padding: 0;
            border: 0px solid #fff;
        }
        .service_box {
            width: 390px;
            height: 390px;
            text-align: center;
            background-color: #fff;
            transition: .5s;
            float: none !important;
            margin: 30px auto;
            display: block;
            border: 1px solid #e3e3e3;
        }
        .col-md-6.col-sm-6.list3 {
            padding: 0;
            border: 0px solid #fff;
        }
        .col-md-6.col-sm-6.list2 {
            padding: 0;
            border: 0px solid #e3e3e3;
        }
        .testimonial4_slide p {
            font-weight: normal;
            line-height: 28px;
        }
        .padding {
            padding: 0;
        }
        .section-portfolio #filters {
            list-style: outside none none;
            text-transform: uppercase;
            padding: 0;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 36px;
        }
        .musk-bg {
            margin-bottom: 50px;
        }
        .team h1 {
            margin-bottom: 80px;
            text-align: center;
        }
        .team-member {
            margin-bottom: 40px;
        }
        .about-us h1 {
            text-align: center;
            margin-bottom: 60px;
            margin-top: 30px;
        }
        
        #blogs h1 {
            margin-bottom: 60px;
        }
        #contact h1 {
            margin-bottom: 60px;
        }
        .pricing h1 {
            margin-bottom: 60px;
        }
        .choose-options .option {
            margin-top: 30px;
            margin-bottom: 60px;
        }
        .pricing-box {
            width: 315px;
            margin-bottom: 50px;
        }
        .container.no-padding.countings {
            display: block;
            margin-top: 0px;
        }
        .box-area {
            width: 70%;
            margin: 0 auto;
            overflow: hidden;
        }
        .about-box {
            transition: .3s;
            margin: 30px 0;
        }
        .about-info {
            margin-top: 0;
            padding: 0 30px;
            text-align: center;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 580px) {
              .progress .progress-value {
            width: 70%;
            height: 70%;
            border-radius: 50%;
            border: 1px solid #ebebeb;
            font-size: 17px;
            line-height: 61px;
            text-align: center;
            position: absolute;
            top: 14.5%;
            left: 14.5%;
        }
        .progress {
            width: 90px;
            height: 90px;
            line-height: 150px;
            background: none;
            margin: 0 auto;
            box-shadow: none;
            position: relative;
        }
        .progrees-ber-area {
            margin-top: 0;
            margin-bottom: 40px;
        }
        .team_slider {
            margin-top: 30px;
        }
        a.touch-btn {
            border: 1px solid #fff;
            padding: 15px 21px;
            border-radius: 5px;
            transition: .3s;
            font-size: 14px;
            font-weight: 600;
        }
        .touch_content h2 {
            font-size: 26px;
            font-style: italic;
            font-weight: bolder;
            margin-bottom: 65px;
            line-height: 43px;
        }
                     #maxo-main h1 {
            font-family: "Raleway SemiBold";
            font-size: 35px !important;
            font-weight: normal;
            text-transform: uppercase;
            margin-top: 19px !important;
        }
        .slider-text-show p {
            font-size: 14px;
            padding: 0 30px;
        }
        .service_box {
            width: 280px;
            height: 360px;
        }
        .section-portfolio #filters {
            margin-bottom: 36px;
        }
        .contact-forms {
            background: #f2f2f2;
            padding: 87.5px 30px;
        }
        .team-row .team-wrap {
                margin-left: 0;
            }
            .team-row .team-wrap:first-child {
            margin-left: 0;
        }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 480px) {
.box-area {
    width:100%;
}
.pricing-box {
    width: auto;
    max-width: 315px;
    display: block;
    margin: auto;
}
    }
     @media only screen and (max-width : 320px) {

    }


