/*service page page start css create by Soniya Hoque */

header.default nav.navbar.bootsnav.navbar-fixed.more_menu{
    background-color: #757373;
}
.p0{
	padding: 0;
}

.services_area_1 {
	padding-top: 250px;
	background-color: #f4f4f4;
}
.service-content h2 {
	font-size: 30px;
	font-weight: bold;
	color: #000;
	margin-bottom: 55px;
	text-transform: uppercase;
	font-family: "Raleway SemiBold";
}
.service-content h5 {
	font-size: 20px;
	color: #000;
	font-weight: normal;
	line-height: 34px;
	margin-bottom: 50px;
	font-family: "Raleway SemiBold";
}
.service-content p {
	font-size: 14px;
	color: #000;
	line-height: 27px;
	margin-bottom: 60px;
	font-family: "Raleway SemiBold";
}
.service-content_2 h2 {
	font-size: 22px;
	color: #000;
	line-height: 33px;
	font-weight: bold;
	margin-bottom: 50px;
	font-family: "Raleway SemiBold";
}
.service_list {
	list-style: decimal;
	padding-left: 15px;
}
.service_list li {
	font-size: 19px;
	color: #000;
	padding-bottom: 25px;
	font-weight: normal;
	font-family: "Raleway SemiBold";
}
.service-img h2 {
	position: absolute;
	top: 31%;
	left: 17%;
	font-size: 45px;
	color: #f89923;
	text-transform: uppercase;
	font-family: "Raleway SemiBold";
}
.service-img {
	position: relative;
}
.services_area_web {
	margin-bottom: 120px;
}
.service-img-brand h2 {
	position: absolute;
	top: 31%;
	left: 5%;
	font-size: 40px;
	color: #f89923;
	text-transform: uppercase;
	font-family: "Raleway SemiBold";
}
.row.service_area_brand {
	margin-bottom: 80px;
}
.service-img-eco h2 {
	position: absolute;
	top: 31%;
	left: 9%;
	font-size: 45px;
	color: #f89923;
	text-transform: uppercase;
	font-family: "Raleway SemiBold";
}
.touch_content {
	padding: 125px 0;
	text-align: center;
}

.get-in-touch {
	background-image: url(../img/touch.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	height: 400px;
}

div.touch_content {
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    color: #ffffff;
}
.touch_content h2 {
	font-size: 36px;
	font-style: italic;
	font-weight: bolder;
	margin-bottom: 65px;
	font-family: "Raleway SemiBold";
}
a.touch-btn{
	border: 1px solid #fff;
	padding: 15px 35px;
	border-radius: 5px;
	transition: .3s;
	font-size: 24px;
	font-weight: 600;
	font-family: "Raleway SemiBold";
}
.row.service_area_brand .last {
	margin-bottom: 0px;
}
.headding_title {
	font-size: 30px;
	color: #000;
	font-weight: bold;
	margin-bottom: 40px;
}
.headding_title img {
	padding-right: 30px;
	margin-left: -15px;
}
.services_area_2 {
	padding-top: 110px;
	background-color: #ebebff;
}
.service-content_2 {
	padding-bottom: 110px;
}
.service_area_3 {
	background-color: #f8f1eb;
	padding-top: 110px;
}
.section_area_4 {
	background-color: #ebffed;
	padding-top: 110px;
}
.area-parallax {
	background-image: url("../img/touch.jpg");
	height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.shadow-musk {
	background: rgba(28,30,24 , .9);
	padding-top: 117px;
	display: block;
	height: 100%;
}
.shadow-musk h4 {
	font-weight: 600;
	font-size: 36px;
	font-family: "Raleway SemiBold";
	font-weight: 900;
	margin: auto auto;
	text-align: center;
	font-style: italic;
	color: #fff;
}
.shadow-musk .contact-here {
	background: transparent none repeat scroll 0 0;
	border: 2px solid #fff;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: "Raleway SemiBold";
	font-size: 24px;
	font-weight: 600;
	margin: 50px auto auto;
	padding: 14px 0;
	text-align: center;
	width: 233px;
	transition: .3s;
}


.shadow-musk .contact-here:hover{
	background-color: #fff;
	color: #000;
}





















